// Active object is prj_cat. Object format is:
// {
//   name : "programming",
//   icon : "glyphicon-sound-stereo",
// } 	
}
- var normal_classes = ['glyphicon', 'licon']
span(class=normal_classes, class=prj_cat.icon)
	= prj_cat.name
br
