// Active object is pc. Object format is:
// {
//   name : "programming",
//   icon : "glyphicon-sound-stereo",
//  	
// }
- var normal_classes = ['glyphicon', 'licon']
span(class=normal_classes, class=pc.icon)
=pc.name
br
