// Active object is rc. Object format is:
// {
//   name : "ai",
//   icon : "glyphicon-eye-close",
//  	
// }
- var normal_classes = ['glyphicon', 'ricon']
	a(href='/' + rc.name)
		=rc.name
		span(class=normal_classes, class=rc.icon)
br
