header
	.container.top
		.row.maxbar
			.col-xs-12
				h1 Max Forbes
		.row.linkbar
			.col-xs-6.prjLink
				h2 projects
			.col-xs-6.researchLink
				h2 research
		.row.areas
			.col-xs-6.projects
				.project.active
					span.glyphicon.glyphicon-sound-stereo.licon
					| programming
					br
				span.glyphicon.glyphicon-music.licon
				| music
				br
				span.glyphicon.glyphicon-barcode.licon
				| clothes
			.col-xs-6.research
				| ai
				span.glyphicon.glyphicon-eye-close.ricon
	.container.separator
		.row
			.col-xs-12.spacebar
			.col-xs-12.location
				| displaying: programming.all
