header
	.container.top
		.row.maxbar
			.col-xs-12
				h1
					a(href='/')
						| Maxwell Forbes
		.row.linkbar
			.col-xs-6.prjLink
				h2 projects
			.col-xs-6.researchLink
				h2 research
		.row.areas
			.col-xs-6.projects.cats
				each pc in data.prj_cats
					include project_cat
			.col-xs-6.research.cats
				each rc in data.research_cats
					include research_cat
	.container.separator
		.row
			.col-xs-12.spacebar(class=activecat)
			.col-xs-12.location
				| displaying:&nbsp;
				include location
