doctype html
html(lang='en')
	include head
	body
		include header
		
		// .container
		.content
			// Todo: sort
			each c in data.prj_jsons
				include itembox
			each c in data.research_jsons
				include itembox

		include footer
