// Active object is prj_cat. Object format is:
// {
//   name : "programming",
//   icon : "glyphicon-sound-stereo",
// } 
if prj_cat.active
	.project.active
		include _project_cat_inner
else
	include _project_cat_inner
