// Active object is pc. Object format is:
// {
//   name : "programming",
//   icon : "glyphicon-sound-stereo",
// } 
if pc.active
	.project.active
		include _project_cat_inner
else
	include _project_cat_inner
