// Active object is rc. Object format is:
// {
//   name : "ai",
//   icon : "glyphicon-eye-close",
// } 
if activecat == rc.name
	div(class=rc.name)
		include _research_cat_inner
else
	include _research_cat_inner
