doctype html
html(lang='en')
head
		title Maxwell Forbes: robots
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		// Bootstrap: CSS 
		link(href='bootstrap-3.0.3/css/bootstrap.min.css', rel='stylesheet', media='screen')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media 
		// queries 
		<!--[if lt IE 9]>
		<script src="bootstrap-3.0.0/js/html5shiv.js"></script>
		<script src="bootstrap-3.0.0/js/respond.min.js"></script>
		<![endif]-->
		// My CSS 
		link(href='pt.css', rel='stylesheet')
	body
		include views/header
		
		// c is for content
		mixin item(c)
			include views/itembox

		.container.content
			// Todo: sort
			each c in data.prj_jsons
				include views/itembox
			each c in data.research_jsons
				include views/itembox
				//- +item(piece)


		footer
			.container
				.row
					.col-xs-12
						| All content is &copy; Maxwell Forbes 2013 unless otherwise noted.
		// JS assets placed at end for faster page loading 
		// jQuery (necessary for Bootstrap's JavaScript plugins) 
		script(src='http://code.jquery.com/jquery.js')
		// Bootstrap: JS 
		script(src='bootstrap-3.0.3/js/bootstrap.min.js')
