doctype html
html(lang='en')
	include views/head
	body
		include views/header
		
		// .container
		.content
			// Todo: sort
			each c in data.prj_jsons
				include views/itembox
			each c in data.research_jsons
				include views/itembox

		include views/footer
