doctype html
head
	title The best webpage ever
body
	header
		.nav look at my great navbar
	p here's some plain text
	a#baz(href="foo").awesome.
		here's another one?
footer
	.copy copyright ALL THE THINGS